{% extends 'base.html' %}

{% block content %}


  <h2>글 상세 페이지</h2>
  <a href="{% url 'products:index' %}">목록으로 돌아가기</a>
  <h1>제목: {{ product.title }}</h1>
  <p>작성자: {{product.author.username}}</p>
  {% comment %} <form action="{% url "users:follow" user.pk %}" method="POST">
    {% csrf_token %}
        <button type="submit">팔로우</button>
  </form> {% endcomment %}
  <p>가격: {{product.price}}</p>

  {% if product.image %}
    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.image }}">
  {% endif %}

  <p>내용: {{ product.content }}</p>
  <p>작성일시: {{ product.created_at }}</p>
  <p>수정일시: {{ product.updated_at }}</p>

  <a href="{% url 'products:index' %}">목록 보기</a>

  {% if user == product.author %} 
  <br>
  <a href="{% url 'products:product_update' product.pk %}">
    <button>수정하기</button>
  </a>
  <form action="{% url 'products:product_delete' product.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
  {% endif %} 
  
  <br>
  <h2>댓글 {{ comments|length }} 개</h2>
  <br>
  <h2>좋아요 {{ product.like_users.all|length }} 개</h2>
  <br>
  {% for comment in comments  %}
  <ul>
    <li>
      {{ comment.content }} | {{ comment.created_at }}
      <p>작성자: {{ comment.user.username }}</p>

      {% if user == comment.user %} 
      {% comment %} 로그인한 사람과 글 쓴 사람이 같을시만 삭제버튼 보이게 {% endcomment %}
      <form action="{% url 'products:comment_delete' product.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="댓글삭제">
      </form>
      {% endif %} 
    </li>
  </ul>

  {% empty %}
    <p>댓글이 없습니다.</p>

  {% endfor %}

  
  <br>
  <hr>
<h3>댓글</h3>
  {% if request.user.is_authenticated %}
  <form action="{% url "products:comment_create" product.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="댓글작성">
  </form>
  {% endif %}
  

{% endblock %}
